@font-face{
    font-family:themify;
    src:url(../fonts/themify.woff);
    font-weight:400;
    font-style:normal
}

.bg-grey {
    background-color: #f8f8f8;
}

img {
    max-width: 100%;
}

.full-100 {
    width: 100%;
}

table tr:nth-child(2n) {
    background: rgba(0,0,0,0.05);
}

.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.align-self-center {
    -webkit-align-self: center!important;
    -ms-flex-item-align: center!important;
    -ms-grid-row-align: center!important;
    align-self: center!important;
}

.align-self-start {
    -webkit-align-self: flex-start!important;
    -ms-flex-item-align: start!important;
    align-self: flex-start!important;
}

.home-table tr:hover {
    background: rgba(0,0,0,0.3)!important;
    cursor: pointer;
    color: #fff;
}

.home-table tr th,
.home-table tr td {
    font-size: 14px;
    padding: 0px 0px 0px 5px;
}

.p-0 {
    padding: 0 !important;
}

.p-50 {
    padding: 50px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-15 {
    padding: 15px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.py-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.m-0 {
    margin: 0!important;
}

.mr-12 {
    margin-right: 12px !important;
}

.-mt-50 {
    margin-top: -50!important;
}

.-mt-60 {
    margin-top: -60!important;
}

.ml-0 {
    margin-left: 0!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.text-center {
    text-align: center;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-35 {
    font-size: 35px !important;
    line-height: 1.2;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.lh-12 {
    line-height: 1.2;
}

.fs-11 {
    font-size: 11px !important;
}

.text-dark {
    color: #000 !important;
}

.w-100 {
    width: 100px !important;
}

.w-400 {
    width: 400px !important;
}

.w-600 {
    width: 600px !important;
}
.text-uppercase {
    text-transform: uppercase!important;
}

.text-success {
    color: #46da60 !important;
}

.text-danger {
    color: #ff4954 !important;
}

.text-primary {
    color: #0facf3 !important;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.btn {
    font-weight: 600;
    font-size: 11px;
    padding: 7px 26px;
    line-height: inherit;
    color: #b5b9bf;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
    border-color: #ebebeb;
    outline: none;
    -webkit-transition: 0.15s linear;
    transition: 0.15s linear;
}

.btn-round {
    border-radius: 10rem;
}

.btn-lg {
    font-size: 12px;
    padding: 13px 34px;
}

.btn-primary, .input-group-btn .btn-info {
    background-image: linear-gradient(241deg,#2cbfdf 25%,#2c9cdf 100%);
    border: 0px!important;
    color: #fff!important;
}

.btn-primary:hover, .input-group-btn .btn-info:hover {
    background-image: linear-gradient(0deg,#2cbfdf 0,#2c9cdf 100%);
    color: #fff!important;
}

.btn-circular {
    width: 54px;
    height: 54px;
    padding: 0;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

#videos {
    background-image: url("../../images/method-draw-image.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#videos h4 {
    font-weight: bold;
}

#videos .videos-container {
    overflow: hidden;
}

.video-btn-wrapper {
    overflow: hidden;
    position: relative;
    min-height: 180px;
}

.video-btn-wrapper h6 {
    background-color: rgba(45, 67, 88,0.6);
    position: absolute;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.video-btn-wrapper .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1.5s;
    min-height: 180px;
}

.video-btn-wrapper .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s;
    transition: .3s;
}

.videos-container .video-btn-wrapper:hover .bg-img,
.videos-container .video-btn-wrapper:focus .bg-img {
    transform: scale(1.5);
}

#whatis {
    background: url(../../images/whatis.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 102% 100%;
}

header h2 {
    font-weight: bold;
    color: #fff;
    position: relative;
}

.section-header {
    text-align: center;
    max-width: 80%;
    margin: 0 auto 70px;
}

.section-header hr {
    width: 50px;
    margin-bottom: 1.5rem;
    border-bottom-color: rgba(83,83,83,0.07);
    margin: 2rem auto;
    border-bottom: solid 1px solid rgba(0,0,0,.1);
}

.section-header small {
    display: inline-block;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: #b5b9bf;
}

.background_heading_1,
.background_heading_2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 50px;
    transform: translateY(-50%);
}

.background_heading_1 {
    color: rgba(255, 255, 255, 0.05);
}

.background_heading_2 {
    color: rgba(0, 0, 0, 0.03);
}


#whatis header p {
    font-weight: 300;
}

#whatis .custom-bbkg p {
    color: #fff;
    font-weight: 300;
}

.whitepaper_section {
    position: relative;
    overflow: visible;
    margin-top: 65px;
    margin-bottom: 93px;
    background: linear-gradient(to right , #3f9aec 4% , #19232d);
    min-height: 110px;
}

.whitepaper_section:before {
    content: '';
    position: absolute;
    width: 100%;
    top: -118px;
    left: -12px;
    height: 100%;
    background: url(../../images/test-bbbk.svg) no-repeat;
    background-position: bottom;
    background-size: 99%;
}

/*WHiteper */
.div_whitepepar {
    position: absolute;
    top: -145px;
    z-index: 9;
}

.whitepaper_section h4 {
    color: #fff;
    top: 40px;
    position: relative;
}

.div_whitepepar:before {
    content: 'Read the Whitepaper';
    position: absolute;
    color: #2c9cdf;
    right: 0;
    bottom: 0;
    left: calc(50% - 100px);
    z-index: 99;
    width: 200px;
    text-align: center;
    font-size: 24px;
    top: calc(50% - 20px);
}

.div_whitepepar img {
    width: 100%;
    max-width: 345px;
}

.change-btn-res {
    top: 32px;
    position: relative;
    display: inline-block;
}

/* SEEN ON SECTION */
.seenon_section a img {
    box-shadow: 0px 0px 20px #d5d5d5;
    padding: 5px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
}

.headbg2 h2,
.headbg2 p {
    color: #37404d;
}

.partner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

/* HOW IT WORK */
.howitwork_section {
    background: url("../../images/ctabg.png") center center white;
}

.howitwork_section .row {
    margin-left: 0 !important;
}

.howitwork_section .row .col-4 {
    padding: 15px !important;
}

.howitwork_section .row .col-4:nth-child(odd) {
    background-color: #fff;
}

.howitwork_section .row .col-4:nth-child(even) {
    background-color: #f8f8f8;
}

.howitwork_section h6 {
    color: #000;
    font-size: 16px;
}

.howitwork_section h6 i {
    margin-left: 10px;
}

/* SPORT FEATURE */
.sport-feature {
    background: url(../../images/FIFA_World_Football.png) #f8f8f8;
    background-repeat: no-repeat;
    background-position: 37% 33%;
    background-size: 300px;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.nav-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.sport-feature .nav-vertical .nav-item {
    margin-bottom: 15px;
}

.sport-feature .nav-vertical .nav-link {
    padding: 20px;
    padding-bottom: 0px;
    background: #ededed;
    height: 100%;
    min-height: 80px;
    width: 100%;
}

.nav-vertical .nav-link {
    padding: 20px;
    border-radius: 5px;
    white-space: normal;
    border: 1px solid transparent;
    opacity: .7;
}

.nav-vertical .nav-link:hover {
    opacity: 1;
}

.nav-link {
    color: #f3f3f3;
}


.sport-feature .nav-vertical .nav-link i {
    float: left;
}

.sport-feature .nav-vertical .nav-link h6 {
    font-weight: 600;
    color: #000;
    font-size: 16px;
    margin-bottom: 5px;
}

.sport-feature .nav-vertical .nav-link p {
    margin-bottom: 0;
    color: #737374;
    font-size: 11px;
    line-height: 20px;
}

.sport-feature .tab-content img {
    box-shadow: 0px 0px 30px #868585;
    border-radius: 5px;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

/* BUFF 88 */
.sport-buff88 {
    background: url(../../images/byff88.png);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}

.sport-buff88 .buff-item {
    margin-top: 40px;
    position: relative;
    padding: 20px;
}

.sport-buff88 .buff-item > div {
    color: #fff;
    background: rgb(26, 21, 38);
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(239, 67, 71, 0.34);
}

.sport-buff88 .buff-item div .hero-top-image,
.sport-buff88 .buff-item div .hero-top-image2,
.sport-buff88 .buff-item div .hero-top-image3{
    position: absolute;
    max-width: 230px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.sport-buff88 .buff-item div .hero-top-image {
    top: -70px;
}

.sport-buff88 .buff-item div .hero-top-image2 {
    top: -110px;
}

.sport-buff88 .buff-item div .hero-top-image3 {
    top: -70px;
    max-width: 160px;
}

.hero-desc-1 {
    padding-top: 100px;
}

.hero-desc-1 h4 {
    color: #e33c42;
    position: relative;
    top: 10px;
}

.hero-desc-1 p {
    font-weight: 400;
    max-width: 800px;
    float: right;
    text-shadow: -1px 1px 3px rgba(0,0,0,1);
    font-size: 15px;
}

.sport-buff88 h2 {
    color: #fff;
}

.sport-buff88 .background_heading_2 {
    font-size: 3.9rem;
    color: rgba(255, 255, 255, 0.05);
}

.sport-buff88 .section-header {
    margin: 0 auto 95px!important;
}

.sport-buff88 .super-hero {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: -530px;
    margin: 0px auto;
    z-index: 1;
    max-width: 410px;
}

.sport-buff88 .buff-item ul li {
    padding: 0;
}

.sport-buff88 .buff-item ul{
    list-style: none;
    padding: 0 10px;
    margin-bottom: 1rem;
}

.sport-buff88 .buff-item ul li img {
    vertical-align: middle;
}

.sport-buff88 .buff-item div p {
    padding: 10px;
    color: #dcdcdc;
    font-weight: 400;
    max-width: 800px;
    float: right;
    text-shadow: -1px 1px 3px rgba(0,0,0,1);
    font-size: 15px;
}

.button-red-design {
    margin-top: 90px;
}

.button-red-design a {
    background-image: linear-gradient(241deg,#9c1b31 25%,#ef4244 100%)!important;
}

.button-red-design a:hover {
    background-image: linear-gradient(241deg,#ef4244 25%,#9c1b31 100%)!important;
    box-shadow: 0 2px 10px rgb(239, 6, 9)!important;
}

/*FOOTER */
.footer-contacts .phone {
    font-size: 20px;
}

.footer-contacts i {
    vertical-align:middle;
    line-height: 1.2;
    color: #fff;
    margin-right: 10px;
}

footer .nav-link {
    padding: 15px 5px;
}

/* REFFERAL*/

#referral {
    background: url("../../images/original-background-home.jpg");
    background-size: 50%;
    background-attachment: fixed;
}

#referral h4,
#referral .lead {
    color: #fff;
    text-align: left;
}


.fixed-header #header {
    position: fixed;
    height: 60px;
    background-color: rgba(37, 37, 37, 0.9);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.06);
    box-shadow: 0 0 15px rgba(0,0,0,0.06);
    -webkit-transition: margin-left .5s, background-color .5s;
    transition: margin-left .5s, background-color .5s;
}

/* LOGO */

#logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 1.25em;
    position: unset;
}


#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    height: 90px;
    border-radius: 0;
    z-index: 910;
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
}

.topbar {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.topbar-nav {
    font-size: .7rem;
}

.topbar-nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.topbar-brand img {
    max-width: 155px;
    max-height: 50px;
    vertical-align: middle;
}

.language {
    position: absolute;
    right: 1em;
}

.language img {
    vertical-align: middle;
}

.nav-submenu {
    left: auto;
    right: -10px;
    position: absolute;
    top: 100%;
    background-color: rgba(255,255,255,0.98);
    padding-left: 10px;
    line-height: 2.4;
    padding: 8px 16px;
    min-width: 150px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.05);
    box-shadow: 0 3px 9px rgba(0,0,0,0.05);
    border-radius: 2px;
    opacity: 1;
    visibility: hidden;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: .5s;
    transition: .5s;
}

.nav-submenu .nav-link {
    vertical-align: middle;
    line-height: 24px;
    color: #535353;
    font-size: 12px;
    display: flex;
}

.nav-submenu img {
    max-height: 24px;
    max-width: 24px;
    margin-right: 5px;
    padding: 2px 0;
}

.language > a:hover + .nav-submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0);
}

.language .nav-submenu:hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0);
}